{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Static Translations plugin for Craft CMS
 *
 * StaticTranslationsWidget Widget Body
 *
 * @author    Mike Pierce
 * @copyright Copyright (c) 2018 Mike Pierce
 * @link      https://michaelpierce.trade/
 * @package   StaticTranslations
 * @since     1.0.0
 */
#}

{% set iconUrl = view.getAssetManager().getPublishedUrl('@monachilada/statictranslations/assetbundles/statictranslationswidgetwidget/dist', true) ~ '/img/StaticTranslationsWidget-icon.svg' %}

<img src="{{ iconUrl }}" height="64" width="64" />

<p>{{ message }}</p>
